.navbar{
    background-color: black;
}
footer {
    position: fixed;
    bottom:0;
    left:0;
    background-color:antiquewhite;
    width: 100%;
}

/* CSS DO CONTEÚDO PRINCIPAL */

#sobre-mim{
    width: 50%;
    height:auto;
    margin-top: 5%;
}

#titulo-nome{
    font-size: 40px;
}

#texto-apresentacao{
    font-size: 17px;
}