/* CSS NAVBAR */
.navbar{
    background-color: black;
}

/* CSS FOOTER */
footer {
    position: fixed;
    bottom:0;
    left:0;
    background-color:antiquewhite;
    width: 100%;
}

/* CSS DO CONTEÚDO PRINCIPAL */
.texto{
    color: white;
    margin-left: 2%;
    text-align: left;
    max-width: 90%;
}
#sobre-mim{
    width: 100%;
    height:auto;
    margin-top: 5%;
}

#titulo-nome{
    font-size: 40px;
}

#texto-apresentacao{
    font-size: 17px;
}

#imagem-perfil{
    margin-right: 10%;
    margin-top: 10%;
    margin-bottom:5%;
 
}
#foto-kayke {
    height: auto;
    width: 100%;
    border-radius: 50%;
    border: 6px solid antiquewhite;
}

/* GRID DISPLAY (ORGANIZA O TEXTO E A IMAGEM LADO A LADO) */

.grid-display {
    display: flex; /* Usando flexbox em vez de grid */
    align-items: center;
    gap: 20px;
}

/* card dos textos */

#contraste{
    background-color: rgba(2, 0, 1, 0.9)
}
/* MATRIX */

body {
    background: black;}

    /* TODO: VERIFICAR NOVAMENTE E REINSERIR O MATRIX COMO BACKGROUND SE NECESSÁRIO. */ 
    
canvas {
    position: absolute; /* Faz o canvas ficar em segundo plano */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5; /* Ajuste a opacidade para que o efeito de fundo não sobrecarregue o conteúdo */
    z-index: -1; /* Garante que o canvas fique atrás do conteúdo */
    display: block;
}



