/* CSS NAVBAR */
.navbar{
    background-color: black;
}

/* CSS FOOTER */
footer {
    position: fixed;
    bottom:0;
    left:0;
    background-color:antiquewhite;
    width: 100%;
}

/* CSS FUNDO GRADIENTE*/
html, body {
    height: 100%;
}

body {
background: rgb(73,72,72);
background: linear-gradient(0deg, rgba(73,72,72,1) 0%, rgba(0,0,0,1) 100%);

}